/* src/index.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Ngăn chặn cuộn trang không mong muốn */
}

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box; /* Đảm bảo padding không làm nở khung */
}